.hero {
  height: 500px;
  background-color: var(--aqua-5);
  display: flex;
  justify-content: center;
}

.section {
  height: 500px;
  background-color: var(--aqua-5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero>div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 25px;
  color: var(--aqua-dark);
  font-size: 1.2rem;
}

.hero h1 {
  font-size: 4rem;
  line-height: 1;
}

.howItWorks {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  .hero {
    align-items: center;
  }

  .hero h1 {
    font-size: 3rem;
  }
}